#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

.album__search {
	margin: 0 auto;
	width: 50%;
}

.teams__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.album__results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	width: 80%;
}
