.card__name {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
}

.card__name--first {
	padding-left: 10%;
}

.card__name--last {
	padding-left: 5%;
}

.card__name--last {
	font-size: 28px;
}

.card__name--first {
	font-size: 20px;
}
    